@tailwind base;
@tailwind components;
@tailwind utilities;

/* Carousel Container */
.carousel-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

/* Wrapping images in a flex container */
.carousel-images {
    display: flex;
    width: 300%;
    height: 100%;
}

/* Each item should take up 1/3 of the total width */
.carousel-item {
    width: 33.33%;
    height: 100%;
    flex-shrink: 0;
    position: relative;
}

/* Keyframes for Smooth Sliding Animation */
@keyframes slide-left {
    0% {
        transform: translateX(0%);
    }

    33% {
        transform: translateX(-33.33%);
    }

    66% {
        transform: translateX(-66.66%);
    }

    100% {
        transform: translateX(0%);
    }
}
.transition-height {
    transition: max-height 0.4s ease-in-out;
}
